[Desktop Entry]
Name=BasedIP
Comment=converts Ip addresses between bases 
Exec= /usr/bin/BasedConverter
Icon= /usr/share/icons/hicolor/256x256/apps/BasedIP.png
Terminal=false
Type=Application
Categories=Utility
Keywords=ip;converter;address
